@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: white;
}
.button{
  border-color: #000;
}

.title{
  color: #000;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.para {
  color: #000;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

@media (max-width: 690px) {
  .flex-reverse {
    display: flex;
    flex-direction: column;
  }

  .myname{
    font-size: 140%;
    padding-top: 10px;
  }
  .mymajor{
    font-size: 110%;
  }

}
.conText{
  padding-top: 8px;
}

.bgCont{
  background-color: rgb(243 244 246);
  width: 80vw;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.5rem; /* 8px */
}
@media (max-width: 750px) {
  .flex-reverse {
    display: flex;
    flex-direction: column;
  }
  .navmobile , .bgCont{
    width: 85vw;
  }

  .contactCont{
    height:auto;
    padding-top: 8px;
  }

  .imagGH{
    margin-right: 0;
  }
  .myname{
    font-size: 20px;
    padding-top: 10px;
  }
  .mymajor{
    font-size: 15px;
  }
  .accoDis {
    width: 100%;
  }
  .mainText{
    font-size: 22px;
  }
  
}
@media (max-width: 925px) {
  .contTextNav{
    font-size: 19px;
  }
}


@media (max-width: 1000px) {
  .Contactme{
    flex-direction: column;
  }
  .icon{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}