@tailwind base;
@tailwind components;
@tailwind utilities;

/* .section {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #5b5b5b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 70%;
  color: black;
} */

/* .section:hover {
  transform: scale(1.05);
} */

/* {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 30px;
  text-align: justify;
} */

.button{
  border-color: #000;
}

.cont{
  padding-top: 250px;
}
/* CustomAccordion.css */
.accordion-item {
  /* width: 400px; 
  font-size: 25px;
  font-weight: bold; */
}

.title{
  color: #000;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 250px;
  text-align: justify;
}

.para {
  color: #000;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 250px;
  text-align: justify;
}
/* .container {
  height: 80%;
  max-height: 80vh; 
  overflow-y: auto; 
} */

/* .skillsList {
  display: flex;
  margin-left: 0;
  list-style-type: circle;
}

.skillsList li{
  margin-right: 10px;
  list-style-type: circle; 
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .links-apps {
  text-align: right;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 15%;
}

.github,
.Linkedin {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.github a,
.Linkedin a {
  color: black;
  text-decoration: none;
} */