

.NavBar{
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    padding-top: 5px;
}

.image-container {
    display: inline;
    vertical-align:middle; 
    margin-right: 10px; /* Add spacing between the image and text */
    padding-right: 5%;
    
}

.text-container {
    display: inline-block;
    vertical-align: middle; /* Vertically align the image and text */
}


.name-major{
    text-align: center;
    width: 100%;
}
.myname{
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
.mymajor{
    font-size: 25px;
    color: black;
}

.navbar-menu {
    background-color: #9a9898;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    justify-self: center;
}
  
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center; /* Change to space-around for equal spacing */
    align-items: center; /* Vertically center the items */
    margin: 0;
    padding: 0;
    
}
  
.nav-item {
    flex: 1; /* Make each item take equal space */
    text-align: center;
}
  
.nav-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px; /* Adjust the font size */
}
  
.nav-item a:hover {
    color: #ff9900;
}

